# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore all binary files
*class

# Ignore all minizinc files
*mzn
minizincGenFiles

*.txt

# Ignore all .smt files
*.SMT